<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png"  href="/favicon.ico?v=1.1">

    <title>Modern Ancient --> Artists</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation.min.css">
    <link rel="stylesheet" href="/css/foundation.local.css">  

    <script src="https://use.fontawesome.com/167cefad62.js"></script>

</head>
  <body>
    <div class="grid-container grid-container-padded">
      <div class="grid-x grid-margin-x margin-vertical-3">
        <div class="cell medium-12">

          <div id="masthead" class="grid-x grid-margin-x ">
            <div class="cell medium-3 text-center">
              <h1 id="title"><a href="/">Modern Ancient</a></h1>
            </div>
            <div id="menu" class="cell medium-6 text-center">
              <p><i>Menu:</i> 
              <a href="/adventures">Adventures</a>, 
              <a href="/installations">Installations</a>, 
              <a href="/life">Life</a>, 
              <a href="/tech">Technology</a>, 
              <a href="/live">Moving Pictures</a>, 
              <a href="/stories">Stories</a>, 
                <a href="/printmaking">Printmaking</a>,
                <a href="/about">About</a>, 
                <a href="#contact">Contact</a>,
                and a place to purchase <a target="_blank" href="https://newtribetextiles.etsy.com">Art & Durable Goods</a>.
              </p>

            </div>
            <div class="cell medium-3">
              <p class="social text-center">
                <a href="https://instagram.com/themodernancient">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a> 
                <a href="https://facebook.com/themodernancient">
                 <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a> 
                <a id="shop" href="https://newtribetextiles.etsy.com">
                  <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div> 
      {{ content }}
    
  <footer id="about" class="responsive-blog-footer">

    <div class="grid-container grid-container-padded">
      <div class="grid-x grid-margin-x">
        <div class="cell medium-4">
              <img src="/grfx/logo.png">
        </div>
        <div class="cell medium-8 about-section">
          <h2>Menu</h2>
          <p>
              <a href="/raindances">Raindances</a>, 
              <a href="/installations">Installations</a>, 
              <a href="/life">Life</a>, 
              <a href="/caffine">Caffinee</a>, 
              <a href="/live">Moving Pictures</a>, 
              <a href="/stone">Stone (carved)</a>, 
                <a href="/printmaking">Printmaking</a>,
                <a href="/cv">CV & Bio</a>, 
                <a href="#contact">Contact</a>,
                and a place to purchase <a target="_blank" href="https://newtribetextiles.etsy.com">Art & Durable Goods</a>.
              </p>

          

        
        </div>
      </div>
    </div>
    <div id="contact" class="grid-x grid-margin-x">
      <div class="cell medium-6">
        <h1>Contact</h1>
        <p>Please feel free to contact us about anything.</p>
        <p><a href="mailto:kyle@modernancient.org">kyle@modernancient.org</a></p>
        <p>We are primarily users of <a href="https://instagram.com/themodernancient">instagram</a> though I also have a <a href="https://facebook.com/themodernancient">facebook</a> page.</p>
        <p>We are members of <a href="http://desertarchaic.com">Desert Archaic</a> cooperative in sunny Truth or Consequences, NM.  As such, we maintain a permanent installation of art in their space at <a href="https://www.google.com/maps/place/234+N+Broadway+St,+Truth+or+Consequences,+NM+87901/@33.1284771,-107.2546131,17z/data=!3m1!4b1!4m5!3m4!1s0x86df82db7471f9f3:0x8e1ceeef862ebf33!8m2!3d33.1284771!4d-107.2524244"><i>324 Broadway St, Truth or Consequences, NM.</i></a></p>
        <p>We are always interested in showing work in other places.  If you are a gallery or have a space please get in touch so we can discuss ideas.</p>
        <p>All works is available to be purchased.  Please enquire about paintings you would like to purchase.  Adornment and Handpulled prints are available <a href="http://newtribetextiles.etsy.com">here</a>.
      </div>
 <div class="cell medium-6 mailing-container">
          <div class="grid-x">
<div class="social-footer cell small-4 text-center">
              <a href="https://instagram.com/themodernancient">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a> 
            </div>
            <div class="social-footer cell small-4 text-center">
              <a href="https://facebook.com/themodernancient">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a> 
            </div>
            <div class="social-footer cell small-4 text-center">
              <a href="https://newtribetextiles.etsy.com">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
              </a>
            </div>
          </div> 
 
         <div class="margin-vertical-3">  
            <h4 class="mailing-list">For Occasional & Random Emails:</h4>
            <input type="text" placeholder="Email Address">
            <a class="button expanded subscribe-button" href="#">Subscribe Now</a>
          </div>
    </div>
</footer>

    
    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
